src/**/**/bin
src/**/**/obj

.vs/
.cache/
packages/
Record/*
bin/tee.exe
src/py-recognition/.venv
src/cs-illiminate/dist/
*.csproj.user
build.log
recognize-gui.exe
frontend.conf
recognize.log
custom-recognize.bat

build.dat
