src/**/**/bin
src/**/**/obj

.vs/
.cache/
packages/
Record/*
src/py-recognition/.venv
src/py-recognition/whl/
src/cs-illuminate/dist/
src/cs-recognition-frontend/dist/

*.csproj.user
recognize-gui.exe
frontend.conf
frontend-filter.conf
recognize.log
custom-recognize.bat

src/maintenance/24h2_sandobox.ps1.txt

