[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu128"
verify_ssl = true
name = "pytorch"

[packages]
torch = {version = "==2.11.0", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
click = "*"
speechrecognition = "*"
numpy = "*"
nt-lib = "*"
pynput = "*"
pyaudio = "*"
websockets = "*"
requests = "*"
faster-whisper = "*"
openai-whisper = "*"
#openai-whisper = {git = "git+https://github.com/openai/whisper.git"}
#faster-whisper = {git = "git+https://github.com/guillaumekln/faster-whisper.git"}
transformers = "*"
accelerate = "*"
sounddevice = "*"
#stable-ts = "2.16.0"
obs-websocket-py = "*"
python-osc = "*"
openvr = "*"
silero-vad = "*"
scipy = "*"
soundfile = "*"
tensorflow-hub = "*"
tensorflow = "*"
huggingface-hub = "*"
lazyasd = "*"
moonshine-voice = "*"
webrtcvad = "*"
sherpa-onnx = "*"
sherpa-onnx-bin = "*"

[dev-packages]
pyinstaller = "==6.18.0"
pyinstaller-hooks-contrib = "==2025.11"
nuitka = "*"
#[requires]
#python_version = "3.10"

[scripts]
archive1 = "pyinstaller -n recognize --noconfirm --additional-hooks-dir src/__pyinstaller src/__main__.py"
archive2 = "nuitka --standalone --output-filename=recognize --output-dir=dist --remove-output src/__main__.py"
