[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
# url = "https://download.pytorch.org/whl/cu118"
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "pytorch"

[packages]
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torchaudio = {version = "*", index = "pytorch"}
click = "*"
speechrecognition = "*"
numpy = "*"
nt-lib = "*"
pynput = "*"
pyaudio = "*"
websockets = "*"
requests = "*"
faster-whisper = "*"
#openai-whisper = {git = "git+https://github.com/openai/whisper.git"}
#faster-whisper = {git = "git+https://github.com/guillaumekln/faster-whisper.git"}
transformers = "*"
accelerate = "*"
webrtcvad = "*"
sounddevice = "*"
stable-ts = "2.16.0"
obs-websocket-py = "*"

[dev-packages]
pyinstaller = "==6.9.0"
pyinstaller-hooks-contrib = "==2024.7"
nuitka = "*"
#[requires]
#python_version = "3.10"

[scripts]
archive1 = "pyinstaller -n recognize --noconfirm --hidden-import punctuators --hidden-import punctuators.models src/__main__.py"
archive2 = "nuitka --standalone --output-filename=recognize --output-dir=dist --remove-output src/__main__.py"
