-i https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu128
absl-py==2.3.1; python_version >= '3.8'
accelerate==1.12.0; python_full_version >= '3.10.0'
astunparse==1.6.3
av==16.1.0; python_version >= '3.10'
certifi==2026.1.4; python_version >= '3.7'
cffi==2.0.0; python_version >= '3.9'
charset-normalizer==3.4.4; python_version >= '3.7'
click==7.1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
colorama==0.4.6; platform_system == 'Windows'
coloredlogs==15.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
ctranslate2==4.6.3; python_version >= '3.9'
faster-whisper==1.2.1; python_version >= '3.9'
filelock==3.20.3; python_version >= '3.10'
flatbuffers==25.12.19
fsspec==2026.1.0; python_version >= '3.10'
gast==0.7.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
google-pasta==0.2.0
grpcio==1.76.0; python_version >= '3.9'
h5py==3.15.1; python_version >= '3.10'
huggingface-hub==0.36.0; python_full_version >= '3.8.0'
humanfriendly==10.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
idna==3.11; python_version >= '3.8'
jinja2==3.1.6; python_version >= '3.7'
keras==3.13.1; python_version >= '3.11'
libclang==18.1.1
llvmlite==0.46.0; python_version >= '3.10'
markdown==3.10; python_version >= '3.10'
markdown-it-py==4.0.0; python_version >= '3.10'
markupsafe==3.0.3; python_version >= '3.9'
mdurl==0.1.2; python_version >= '3.7'
ml-dtypes==0.5.4; python_version >= '3.9'
more-itertools==10.8.0; python_version >= '3.9'
mpmath==1.3.0
namex==0.1.0
networkx==3.6.1; python_version >= '3.11' and python_full_version != '3.14.1'
nt-lib==0.1.4; python_version >= '3.9' and python_version < '4.0'
numba==0.63.1; python_version >= '3.10'
numpy==2.3.5; python_version >= '3.11'
obs-websocket-py==1.0
onnxruntime==1.23.2; python_version >= '3.10'
openai-whisper==20231117; python_version >= '3.8'
openvr==2.12.1401; python_version >= '3.9'
opt-einsum==3.4.0; python_version >= '3.8'
optree==0.18.0; python_version >= '3.9'
packaging==25.0; python_version >= '3.8'
pillow==12.1.0; python_version >= '3.10'
protobuf==6.33.4; python_version >= '3.9'
psutil==7.2.1; python_version >= '3.6'
pyaudio==0.2.14
pycparser==2.23; implementation_name != 'PyPy'
pygments==2.19.2; python_version >= '3.8'
pynput==1.8.1
pyreadline3==3.5.4; python_version >= '3.8' and sys_platform == 'win32'
python-osc==1.9.3; python_version >= '3.10'
pyyaml==6.0.3; python_version >= '3.8'
regex==2026.1.15; python_version >= '3.9'
requests==2.32.5; python_version >= '3.9'
rich==14.2.0; python_full_version >= '3.8.0'
safetensors==0.7.0; python_version >= '3.9'
scipy==1.17.0; python_version >= '3.11'
setuptools==80.9.0; python_version >= '3.9'
silero-vad==6.2.0; python_version >= '3.8'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sounddevice==0.5.3; python_version >= '3.7'
soundfile==0.13.1
speechrecognition==3.14.5; python_version >= '3.9'
stable-ts==2.16.0; python_version >= '3.8'
sympy==1.14.0; python_version >= '3.9'
tensorboard==2.20.0; python_version >= '3.9'
tensorboard-data-server==0.7.2; python_version >= '3.7'
tensorflow==2.20.0; python_version >= '3.9'
tensorflow-hub==0.16.1
termcolor==3.3.0; python_version >= '3.10'
tf-keras==2.20.1; python_version >= '3.9'
tiktoken==0.12.0; python_version >= '3.9'
tokenizers==0.22.2; python_version >= '3.9'
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
torchvision==0.22.0+cu128
tqdm==4.67.1; python_version >= '3.7'
transformers==4.57.6; python_full_version >= '3.9.0'
typer==0.3.2; python_version >= '3.6'
typing-extensions==4.15.0; python_version >= '3.9'
urllib3==2.6.3; python_version >= '3.9'
websocket-client==1.9.0; python_version >= '3.9'
websockets==16.0; python_version >= '3.10'
werkzeug==3.1.5; python_version >= '3.9'
wheel==0.45.1; python_version >= '3.8'
wrapt==2.0.1; python_version >= '3.8'
pyinstaller==6.14.2 
pyinstaller-hooks-contrib==2025.8 
